In [4]:
# import pandas as pd
# import numpy as np
# from config import db_password
# from sqlalchemy import create_engine
# import psycopg2

# import time
# from pathlib import Path
# import matplotlib.pyplot as plt
# from sklearn.linear_model import LinearRegression
# from IPython.core.display import HTML, display

In [5]:
# import python library
import pandas as pd
# assign a variable that contains a string of your credentials
credentials = "postgresql://usr1:pwd1!@#$@127.0.0.1:5432/Final_Project"
# read in your SQL query results using pandas
dataframe = pd.read_sql("""
            SELECT R_fighter, B_fighter
            FROM master
            """, con = credentials)
# return your first five rows
dataframe.head()

           r_fighter         b_fighter
0   Alistair Overeem  Alexander Volkov
1     Cory Sandhagen     Frankie Edgar
2  Alexandre Pantoja        Manel Kape
3     Diego Ferreira    Beneil Dariush
4    Michael Johnson        Clay Guida

# credentials = f"postgres://postgres:{db_password}@127.0.0.1:5432/Final_Project"

In [ ]:
# psycopg2.connect(credentials)

In [ ]:
#def connect(credentials):
 #   """ Connect to the postgresSQL database server """
  #  conn = None
   # try:
        # connect to the PostgresSQL server
    #    print('Connecting to the PostgresSQL database...')
     #   conn = psycopg2.connect(credentials)
    #except (Exception, pyscopg2.DatabaseError) as error:
        print(error)
#         sys.exit(1)
    #print("Connection successful")
    #return conn